## Preprocessing

In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd
application_df = pd.read_csv("https://static.bc-edx.com/data/dl-1-2/m21/lms/starter/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(columns=['EIN', 'NAME'])

application_df.head()

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE            17
AFFILIATION                  6
CLASSIFICATION              71
USE_CASE                     5
ORGANIZATION                 4
STATUS                       2
INCOME_AMT                   9
SPECIAL_CONSIDERATIONS       2
ASK_AMT                   8747
IS_SUCCESSFUL                2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
application = application_df['APPLICATION_TYPE'].value_counts()
print(application)

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
# Choose a cutoff value and create a list of application types to be replaced
# use the variable name `application_types_to_replace`

application_types_to_replace = application[application < 500].index

# Replace in dataframe
for app in application_types_to_replace:
    application_df['APPLICATION_TYPE'] = application_df['APPLICATION_TYPE'].replace(app,"Other")

# Check to make sure binning was successful
application_df['APPLICATION_TYPE'].value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
classification = application_df['CLASSIFICATION'].value_counts()
classification

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
# You may find it helpful to look at CLASSIFICATION value counts >1
# classification = application_df['CLASSIFICATION'].value_counts()

classification[classification > 1]

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
C7000      777
C1700      287
C4000      194
C5000      116
C1270      114
C2700      104
C2800       95
C7100       75
C1300       58
C1280       50
C1230       36
C1400       34
C7200       32
C2300       32
C1240       30
C8000       20
C7120       18
C1500       16
C1800       15
C6000       15
C1250       14
C8200       11
C1238       10
C1278       10
C1235        9
C1237        9
C7210        7
C2400        6
C1720        6
C4100        6
C1257        5
C1600        5
C1260        3
C2710        3
C0           3
C3200        2
C1234        2
C1246        2
C1267        2
C1256        2
Name: CLASSIFICATION, dtype: int64

In [8]:
# Choose a cutoff value and create a list of classifications to be replaced
# use the variable name `classifications_to_replace`
classifications_to_replace = classification[classification < 1800].index

# Replace in dataframe
for cls in classifications_to_replace:
    application_df['CLASSIFICATION'] = application_df['CLASSIFICATION'].replace(cls,"Other")

# Check to make sure binning was successful
application_df['CLASSIFICATION'].value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

In [9]:
# Convert categorical data to numeric with `pd.get_dummies`
categorical_dummies = ['APPLICATION_TYPE', 'AFFILIATION', 'CLASSIFICATION',
                        'USE_CASE', 'ORGANIZATION', 'INCOME_AMT', 'SPECIAL_CONSIDERATIONS']

application_df_encoded = pd.get_dummies(application_df, columns = categorical_dummies)

application_df_encoded.head().shape[1]

44

In [10]:
# Split our preprocessed data into our features and target arrays
y = application_df_encoded["IS_SUCCESSFUL"].values
X = application_df_encoded.drop(["IS_SUCCESSFUL"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

<ipython-input-10-16bfb24d7023>:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only.
  X = application_df_encoded.drop(["IS_SUCCESSFUL"],1).values

In [11]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

## Compile, Train and Evaluate the Model

In [12]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 =  132
hidden_nodes_layer2 = 100

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="relu")
)
# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 132)               5808

 dense_1 (Dense)             (None, 100)               13300

 dense_2 (Dense)             (None, 1)                 101

=================================================================
Total params: 19,209
Trainable params: 19,209
Non-trainable params: 0
_________________________________________________________________

In [13]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [14]:
# Train the model
fit_model = nn.fit(X_train_scaled, y_train, epochs=80)

Epoch 1/80
804/804 [==============================] - 4s 3ms/step - loss: 0.5699 - accuracy: 0.7232
Epoch 2/80
804/804 [==============================] - 3s 3ms/step - loss: 0.5564 - accuracy: 0.7304
Epoch 3/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5533 - accuracy: 0.7312
Epoch 4/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5502 - accuracy: 0.7313
Epoch 5/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5498 - accuracy: 0.7320
Epoch 6/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5488 - accuracy: 0.7339
Epoch 7/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5482 - accuracy: 0.7341
Epoch 8/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5474 - accuracy: 0.7346
Epoch 9/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5468 - accuracy: 0.7359
Epoch 10/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5462 - accuracy: 0.7358
Epoch 11/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5461 - accuracy: 0.7346
Epoch 12/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5453 - accuracy: 0.7373
Epoch 13/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5451 - accuracy: 0.7360
Epoch 14/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5442 - accuracy: 0.7365
Epoch 15/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5439 - accuracy: 0.7365
Epoch 16/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5438 - accuracy: 0.7363
Epoch 17/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5435 - accuracy: 0.7370
Epoch 18/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5430 - accuracy: 0.7375
Epoch 19/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5426 - accuracy: 0.7376
Epoch 20/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5428 - accuracy: 0.7378
Epoch 21/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5422 - accuracy: 0.7384
Epoch 22/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5420 - accuracy: 0.7378
Epoch 23/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5422 - accuracy: 0.7378
Epoch 24/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5418 - accuracy: 0.7381
Epoch 25/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5410 - accuracy: 0.7386
Epoch 26/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5411 - accuracy: 0.7381
Epoch 27/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5405 - accuracy: 0.7386
Epoch 28/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5407 - accuracy: 0.7385
Epoch 29/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5405 - accuracy: 0.7389
Epoch 30/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5404 - accuracy: 0.7384
Epoch 31/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5402 - accuracy: 0.7394
Epoch 32/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5397 - accuracy: 0.7385
Epoch 33/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5395 - accuracy: 0.7395
Epoch 34/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5397 - accuracy: 0.7381
Epoch 35/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5395 - accuracy: 0.7391
Epoch 36/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5392 - accuracy: 0.7394
Epoch 37/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5391 - accuracy: 0.7393
Epoch 38/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5389 - accuracy: 0.7391
Epoch 39/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5390 - accuracy: 0.7393
Epoch 40/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5381 - accuracy: 0.7388
Epoch 41/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5386 - accuracy: 0.7397
Epoch 42/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5384 - accuracy: 0.7392
Epoch 43/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5383 - accuracy: 0.7393
Epoch 44/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5383 - accuracy: 0.7402
Epoch 45/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5386 - accuracy: 0.7396
Epoch 46/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5377 - accuracy: 0.7399
Epoch 47/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5379 - accuracy: 0.7405
Epoch 48/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5379 - accuracy: 0.7406
Epoch 49/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5375 - accuracy: 0.7405
Epoch 50/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5378 - accuracy: 0.7400
Epoch 51/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5376 - accuracy: 0.7403
Epoch 52/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5374 - accuracy: 0.7410
Epoch 53/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5377 - accuracy: 0.7400
Epoch 54/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5376 - accuracy: 0.7404
Epoch 55/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5377 - accuracy: 0.7399
Epoch 56/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5371 - accuracy: 0.7404
Epoch 57/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5366 - accuracy: 0.7414
Epoch 58/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5366 - accuracy: 0.7411
Epoch 59/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5368 - accuracy: 0.7409
Epoch 60/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5370 - accuracy: 0.7406
Epoch 61/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5364 - accuracy: 0.7408
Epoch 62/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5372 - accuracy: 0.7404
Epoch 63/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5364 - accuracy: 0.7408
Epoch 64/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5369 - accuracy: 0.7404
Epoch 65/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5361 - accuracy: 0.7408
Epoch 66/80
804/804 [==============================] - 2s 2ms/step - loss: 0.5364 - accuracy: 0.7403
Epoch 67/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5362 - accuracy: 0.7410
Epoch 68/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5360 - accuracy: 0.7406
Epoch 69/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5361 - accuracy: 0.7411
Epoch 70/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5357 - accuracy: 0.7405
Epoch 71/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5370 - accuracy: 0.7410
Epoch 72/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5359 - accuracy: 0.7412
Epoch 73/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5358 - accuracy: 0.7399
Epoch 74/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5355 - accuracy: 0.7409
Epoch 75/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5359 - accuracy: 0.7411
Epoch 76/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5357 - accuracy: 0.7407
Epoch 77/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5356 - accuracy: 0.7411
Epoch 78/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5353 - accuracy: 0.7409
Epoch 79/80
804/804 [==============================] - 1s 1ms/step - loss: 0.5354 - accuracy: 0.7408
Epoch 80/80
804/804 [==============================] - 1s 2ms/step - loss: 0.5355 - accuracy: 0.7413

In [15]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5607 - accuracy: 0.7257 - 468ms/epoch - 2ms/step
Loss: 0.5606902241706848, Accuracy: 0.7257142663002014

In [16]:
# Export our model to HDF5 file
nn.save("AlphabetSoupCharity_Optimization1.h5")

# New Section